.input-color {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  border: 1px solid #000000;
}

/* To hide the underline under the Select */
::ng-deep .mat-form-field-underline {
  display: none;
}

#commands {
  margin: 10px;
}

#validation {
  margin: 10px;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.icon-on {
    color: yellow;
}
.icon-off {
    color: rgb(255, 66, 66);
}