<h3>Alarm List</h3>

<div *ngIf="alarm">
    <div>
        <h2>Title:</h2>
        <input [(ngModel)]="alarm.name" placeholder="name" />
    </div>

    <div>
        <h2>When</h2>
        <h3>{{alarm.getHour()}}</h3>
    </div>

    <div>
        <h2>Recurrence</h2>

        <mat-radio-group class="radio-group" (change)="onRecurrenceChange($event)">
            <mat-radio-button [checked]="isRecurrenceOnce($this)" value="0">Once</mat-radio-button>
            <mat-radio-button [checked]="!isRecurrenceOnce($this)" value="1">Every Day</mat-radio-button>
        </mat-radio-group>

        <div id="recurrenceDays" *ngIf="!daysAreHidden">
            <h3>Days:</h3>
            <section class="">
                <mat-checkbox *ngFor="let day of days" [value]="day" 
                    [checked]="isRecurrenceDayChecked(day) === day"
                    (change)="onRecurrenceDays($event, day)">
                    {{day}}
                </mat-checkbox>
            </section>
        </div>

    </div>

    <div id="validation" class="validation">
        <div class="button-row-validation">
            <button mat-raised-button routerLink="." color="success" (click)=onButtonOk()>Ok</button>
            <button mat-raised-button routerLink="." color="warn" (click)=onButtonCancel()>Cancel</button>
        </div>
    </div>
</div>